<div class="container">
  <div class="row">
    <% if user_signed_in? == false %>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Welcome to Adnat!</h5>
          <p class="card-text">This is a simplified version of the Tanda web app from scratch using Ruby on Rails.</p>
          <hr>
          <a href="/users/sign_in" class="btn btn-primary btn-sm m-0">Log in</a>
          <a href="/users/sign_up" class="btn btn-outline-primary btn-sm m-0">Sign up</a>
          <small class="d-block text-muted text-right">Developed by Justin Kim</small>
        </div>
      </div>
    </div>
    <% end %>
    <% if user_signed_in? == true and current_user.organisation_id == nil %>
    <div class="col-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hi <%= current_user.name %>!</h5>
          <p class="card-text m-0">You are not a member of any organisations.</p>
          <p class="card-text m-0">Join an existing one or create a new one.</p>
          <hr>
          <h5 class="card-title">Organisations</h5>
          <% if @organisations.length == 0 %>
          <p class="text-primary">There are no existing organisations.</p>
          <% end %>
          <% if @organisations.length > 0 %>
          <table class="table">
            <thead>
              <tr>
                <th width="1px">#</th>
                <th>Name</th>
                <th>Hourly rate</th>
                <th width="1px"></th>
                <th width="1px"></th>
                <th width="1px"></th>
              </tr>
            </thead>
            <tbody>
              <% @organisations.each do |organisation| %>
              <tr>
                <td>
                  <%= organisation.id %>
                </td>
                <td>
                  <%= organisation.name %>
                </td>
                <td>
                  $<%= organisation.hourly_rate %>
                </td>
                <td class="pr-0">
                  <a href="/organisations/<%= organisation.id %>/join" class="btn btn-primary btn-sm m-0">Join</a>
                </td>
                <td class="pr-0">
                  <a href="/organisations/<%= organisation.id %>/edit" class="btn btn-success btn-sm m-0">Edit</a>
                </td>
                <td>
                  <a href="/organisations/<%= organisation.id %>" class="btn btn-danger btn-sm m-0" data-method="delete">Delete</a>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-0">Create organisation</h5>
          <form action="/organisations" method="post">
            <div class="form-group bmd-form-group">
              <label class="bmd-label-floating">Name</label>
              <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group bmd-form-group">
              <label class="bmd-label-floating">Hourly rate</label>
              <input type="number" class="form-control" name="hourly_rate" required>
            </div>
            <button type="submit" class="btn btn-success btn-sm m-0">Create</button>
          </form>
        </div>
      </div>
    </div>
    <% end %>
    <% if user_signed_in? == true and current_user.organisation_id != nil %>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= @organisation.name %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted" style="text-transform: none;">Hourly rate - $<%= @organisation.hourly_rate %></h6>
          <hr>
          <a href="/organisations/<%= @organisation.id %>/shifts" class="btn btn-primary btn-sm">View shifts</a>
          <a href="/organisations/<%= @organisation.id %>/edit" class="btn btn-success btn-sm">Edit</a>
          <a href="/organisations/<%= @organisation.id %>/leave" class="btn btn-danger btn-sm">Leave</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>