<div class="container">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb mb-0 pl-0">
          <li class="breadcrumb-item">
            <a href="/"><%= @response[:name] %></a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a href="/organisations/<%= @response[:organisation_id] %>/shifts">Shifts</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Edit shift</li>
        </ol>
      </nav>
    </div>
    <div class="col-6">
      <div class="card mt-2">
        <div class="card-body">
          <h5 class="card-title mb-0">Edit shift</h5>
          <hr>
          <form action="/organisations/<%= @response[:organisation_id] %>/shifts/<%= @response[:id] %>" method="post">
            <div class="form-group bmd-form-group">
              <label class="bmd-label-static">Shift date</label>
              <input type="text" class="form-control datepicker" name="date" value="<%= @response[:date] %>" required>
            </div>
            <div class="form-group bmd-form-group">
              <label class="bmd-label-static">Start time</label>
              <input type="text" class="form-control timepicker" name="start" value="<%= @response[:start] %>" required>
            </div>
            <div class="form-group bmd-form-group">
              <label class="bmd-label-static">Finish time</label>
              <input type="text" class="form-control timepicker" name="finish" value="<%= @response[:finish] %>" required>
            </div>
            <div class="form-group bmd-form-group">
              <label class="bmd-label-static">Break length (minutes)</label>
              <input type="number" class="form-control" name="break_length" value="<%= @response[:break_length] %>" required>
            </div>
            <button type="submit" class="btn btn-success btn-sm m-0">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>