<div class="container">
  <div class="row">
    <div class="col-4 ml-auto mr-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Log in</h5>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "bmd-label-floating" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "bmd-label-floating" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <%= f.submit "Log in", class: "btn btn-primary btn-sm m-0" %>
          <% end %>
          <br>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>